<!DOCTYPE HTML>
<!--
	Industrious by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>DIMACS International</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--<link rel="stylesheet" href="assets/css/index.css" />-->
		<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='assets/css/home.css')}}" />
        <link rel="icon" href="{{ url_for('static', filename='assets/img/logo.png')}}" sizes="16x16" type="image/png">

		<!-- Script for readmore-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script></script>

		<style>
		#banner{
			background-image: url("images/nh.jpg");
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			}


		</style>
	</head>
	<body class="is-preload">

	<!--Logos-->
	<section>
	<div class="headerslogo">
			<div class="logoholde"><center><img src="static/assets/img/logo.png" width="80" height="80"/>
			<p><strong>DIMACS International</strong></p></center></div>
			<div class="logoholde"><center><img src="static/assets/img/logoS.png" width="80" height="80"/>
			<p><strong>MESL</strong></p></center></div>
			<div class="logoholde"><center><img src="static/assets/img/ksl.png" width="80" height="80"/>
			<p><strong>Kenya Shipyard Limited</strong></p></center></div>
			<div class="logoholde"><center><img src="static/assets/img/KU.png" width="80" height="80"/>
			<p><strong>KU RCCD</strong></p></center></div>
		</div></section>

		<!-- Header -->
			<header id="header">
				<nav>
					<a href="{{ url_for('home') }}">Home</a>
					<a href="#">About Us</a>
					<a href="about.html">Resource Centre</a>
					<a href="about.html">Current News</a>
					<a href="about.html">Contact Us</a>
					<div class="dropdown">
						<a class="dropbtn" href="#">Online Services <i class="icons fa fa-caret-down"></i></a>
						<div class="dropdown-content">
						  <a href="{{ url_for('register') }}">Expert Registration</a>
						  <a href="{{ url_for('client_register') }}">Client Registration</a>
						</div>
					</div>
					<a class="icon fa fa-sign-in" href="{{ url_for('login') }}">LogIn</a>
			  </nav>
	            </header>

		<!-- Header for Small Device -->
			<header id="headerX">					
				<a class="logo" href="{{ url_for('home') }}"><img src="{{url_for('static', filename='assets/img/logo.png')}}" width="30" height="30" style=" margin-top: 0.5em;"/> DIMACS Int. Ltd</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>

				<!-- Nav -->
				<nav id="menu">
					<ul class="links">
						<li><a href="{{ url_for('about') }}">About Us</a></li>
						<li><a href="{{ url_for('resource') }}">Resource Centre</a></li>
						<li><a href="{{ url_for('news') }}">Current News</a></li>
						<li><a href="{{ url_for('contact') }}">Contact Us</a></li>
						<li>
							<div class="dropdown">
							<a class="dropbtn" href="#">Registration <i class="icons fa fa-caret-down"></i></a>
							<div class="dropdown-content">
							  <a href="{{ url_for('register') }}">Expert Registration</a>
							  <a href="{{ url_for('client_register') }}">Client Registration</a>
							</div>
							</div>
						</li>
						<li><a class="icon fa fa-sign-in" href="{{ url_for('login') }}">LogIn</a></li>
					</ul>
				</nav>


		<!-- Highlights -->
<section id="main" class="wrapper">
	<!-- Elements -->
	<div class="row">
		<div class="col-4 col-12-small">
				<!-- Table -->
			<div id="t" class="table-wrapper">
				<table>
				<tbody>
				<tr>
					<td><h4><strong><a id="showBus" href="#BusOpp">The Business Plan</a></strong></h4></td>
				</tr>
				<tr>
					<td><h4><strong><a id="showTrainer" href="#Trainer">Training</a></strong></h4></td>
				</tr>
				<tr>
					<td><h4><strong><a id="showITC" href="#ITC">ITC</a></strong></h4></td>
				</tr>
				<tr>
					<td><h4><strong><a id="showMmodus" href="#Mmodus">Modus Operandi for Contracted Jobs</a></strong></h4></td>
				</tr>
					</tbody>
				</table>
			</div>
		</div>

		<div id="hiddeen" class="col-7 col-12-medium">
				<div id="ITC" class="readmore">
					<h2	><p>Information Technology and Communication, ITC</h2>
					The role of technology is to make operations easier and to accelerate operations and consequently produce prompt results. Technology also improves the capacities and capabilities of the human resource deployed</br>
					A majority of DIL’s business and activities are carried out online. The entire recruitment process except for the interviews is done online. It then follows that the greatest investment has gone into developing a robust website and database infrastructure.</p>
					<h3>Intelligent Application Development</h3>
					<p>Data on applicants and job orders is collected responsibly and intelligently. The application enables data processing and data analysis so as to draw business lessons on the nature of jobs available as well as being able to qualitatively assess the talent pool. The following application was developed: A website that integrates both the recruitment software as well as the candidates’ database. The site is also the online page for anyone seeking information about DIL</p>
					<h3>Accounting and Finance</h3>
					<p>The software program was developed for the entry of data from financial transactions as well as for the generation of reports.</p>
					<h3>Communication</h3>
					<p>Emails, phone systems and intranets set up for efficient communication within the company are seamlessly and efficiently linked.</p>
					<h3>Data Mining Tools</h3>
					<p>Data analysis is the lifeblood of the company. DIL thrives from data collection to determine the strategic business direction.</p>
				</div>

				<div id="Mmodus" class="readmore">
					<h2>Modus Operandi for Contracted Jobs</h2>
					Depending on the tasks to be accomplished, DIL has a dedicated team of professionals embedded to the Client Project Manager for efficient execution of tasks at hand and advance planning. The Company coordinates and activates all the relevant cells within their data base for immediate deployment if need be within 24 hour notice and handles all the logistics pertaining to following:<br>
					<ol>
					<li>Transportation of the workers to and from place of abode.</li>
					<li>Arrange for their meals and accommodation.</li>
					<li>Pay for their Medical Insurance and Statutory Government deductions.</li>
					<li>Provide all the safety gear and tools while at work or make arrangement with the client for such provisions at a cost.</li>
					<li>Ensure all HSE protocols are adhered to as per Public Health Regulations</li>
					<li>Enforce and ensure discipline and good work ethics are maintained at all times </li>
					</ol>
				</div>

				<div id="BusOpp" class="readmore">
					<h2>The Bussiness opportunity</h2>
					The core business functions that DIL is engaged in is as follows but not limited to;
						<ol>
						<li>	Defense Contracts</li>
						<li>	Parastatals and Corporate Entities’ Technical Equipment Maintenance</li>
						<li>	Maritime Assets Repair and Maintenance</li> <li>	Ship Building</li>
						<li>	Logistics Support for both Shore and Offshore establishments </li>
						<li>	Offer Security and Operational Support to Corporate Entities </li>
						</ol>

					<h3><strong>Challenges and pain points that DIL resolves for Clients</strong></h3>
					<ol>
						<li>Assist upcoming businesses with start-up technical and logistical support</li>
						<li>The start-up company to operate with a lean manageable staff on core business</li>
						<li>We source for the personnel and manage them on behalf of the company</li>
						<li>Conduct training and deploy accordingly on behalf of the company</li>
						<li>Reduce the Client Company’s operating expenses by offloading the burden of the following incidental cost:</li>
							<ul>
								<li>	Daily transport to and from work</li>
								<li>	Cost of feeding and accommodation allowances</li>
								<li>	Offset cost of monthly statutory contributions to the exchequer (NHIF, NSSF and PAYE)</li>
								<li>	No monthly pension contribution to the workers.</li>
								<li>	No Final lump sum and subsequent monthly pension payment to the workers on retirement</li>
								<li>	HR Department to manage a leaner Staff as compared to a large workforce</li>
								<li>	The company will never lose working days in terms of leave, indiscipline and sick-offs.</li>
								<li>	Less expenses on Staff Welfare in terms of car, home, school and emergency loans.</li>
								<li>	Less expenses on insurance cover for bloated workforce.</li>
							</ul>
					</ol>
				</div>

				<div id="Trainer" class="readmore">
					<h2> Technical courses offered by DIMACS in conjunction with KU- RCCD </h2>

					DIMACS International Limited (DIL) in conjunction with KU-RCCD offers tailor-made refresher courses in the following technical areas:
					<ol>
						<li> Mechanical, Electrical and structural Engineering courses </li>
						<li> Information Technology and Communication, ITC </li>
						<li>Architecture, Bsc Spatial Planning, Construction Management etc</li>
						<li>Technician and Artisan Diplomas and Certificates in Building Construction, Welding, Electrical fittings, Plumbing, Fabricators, Mechanics, Carpenters, Masons, Heavy equipment Operators etc.</li>
						<li> Any other refresher course as requested by the client.</li>
					</ol>

					<h2> Disaster preparedness & Emergency Management Courses </h2>

					<h3> Basic Disaster & Emergency Management Course </h3>
						<ol>
						<li> Introduction to Disaster Management and Preparedness principles </li>
						<li> Management of Natural and Technological Hazards </li>
						<li> Risk and Vulnerability Analysis and Hazard Mapping </li>
						<li> Mass fatalities and casualty handling </li>
						<li> Post Traumatic Stress Disorders and counseling </li>
						<li> HIV/AIDS as a notable disaster at the national and regional level </li>
						<li> First Aid applications under Disaster Conditions </li>
						<li> Fire prevention and Basic Control Procedures </li>
						</ol>

					<h3> Disaster Preparedness and Response Course </h3>
						<ol><li> Introduction to Emergency Operations Center (EOC)</li>
						<li> Introduction to Incident Command System (ICS) </li>
						<li> Managing, Operating, Exercising and Evaluating the EOC
						<li> Case Study in Organizing and Planning for Events and Incidences on :-</li>
									<ul><li> Terrorism </li>
									<li> Piracy </li>
									<li> Fires in a Built Up Area</li></ul>
						<li> The implications of the International Humanitarian and Human Rights Laws </li>
						<li> The Role of the various Humanitarian agencies in Disaster Recovery </li>
						<li> Contingency and Disaster Recovery Strategies for Organizations</li>
						<li> Re-Integration of affected personnel to the general populace </li>
						<li> Dealing with the Media under Disaster Conditions </li>
						<li> A guided tour to a disaster scene </li>
						</ol>

						<strong>TARGET GROUP:</strong>
						Admissions are considered on first come first served basis due to the high demand of the limited slots. Personnel dealing with Anti-terrorism Operations, Security, Transport, Fires and Disaster Management from the following institutions will be given first priority.
						<ol>
							<li> Government line ministries. </li>
							<li> Parastatal and Corporations </li>
							<li> UN Agencies dealing with humanitarian issues </li>
							<li> Disciplined uniformed Entities- Military, Police, KFS, KWS, NYS etc </li>
							<li> County Security Organs. </li>
							<li> Returning Disciplined Forces from UN Peace Keeping Operations</li>
						</ol>

					<h3> Anti-terrorism Course </h3>

						Target Group: All security personnel, government and private administrators, Service Industry Managers, legislators, Media teams and all individuals working in terror attack prone places. The ATAP course has been designed to provide attendees, with an understanding of the history of terrorism, and contribute to counteraction and reduction of the current threat. The program covers:
						<ul>
							<li> Definitions & types of terrorism</li>
							<li> An overview Kenyan experience of terrorism </li>
							<li>Terrorist trend & Interrelationship with other  crimes</li>
							<li> Tactics and targets </li>
							<li> Counter terrorism organizations </li>
							<li> Terrorist attack cycle (TAPI)</li>
							<li> Situational awareness </li>
							<li> Introduction to terrorism surveillance ops </li>
							<li> Introduction to terrorism investigations </li>
							<li> Overview legal aspects </li>
							<li> Hostage taking and kidnapping </li>
							<li> Improvised explosive device & favorite weapons of use awareness </li>
							<li> Post attack & incident considerations </li>
							<li> Terrorism and the media </li>
							<li> Terrorism Financing </li>
							<li> Human Rights vs Counter Terrorism Ops </li>
							<li> 	Contemporary Threats </li>
						</ul>

					<h3> Physical Security Training Program </h3>
						The physical security training program is designed to provide baseline knowledge of physical security systems and procedures. The survey process is the common thread used in teaching this program. The PSTP provides the participants with fundamental knowledge on many relevant physical security issues, which include vulnerability assessment, familiarization with hardware and procedures. A comprehensive practical exercise is followed by a formal presentation of the survey results by each of the survey groups at the end.

						Target Group: Security Agents/ Managers responsible for protection of vital installations including hotels, office blocks, shopping malls, schools and colleges, warehouses, factories and other large installations.


						Recognition of the installation
						<ol>
							<li> General recognition </li>
							<li> The installation operation </li>
							<li> Borders and gates </li>
							<li> Buildings, operational and administrative areas, etc. </li>
							<li> Restricted areas </li>
							<li> Passes and traffic </li>
							<li> Vulnerable points </li>
								<ol>
									<li> The adversary</li>
									<li> Types </li>
									<li> Methods used for gathering intelligencev</li>
									<li> Modus operandi of the adversary </li>
								</ol>
						</ol>

						Physical Security
						<ol>
							<li> Recognition & Detection of Weapons/Explosives </li>
							<li> Theory of Physical Security and Crime Prevention
							<li>  to Security Design</li>
							<li> Protective Lighting</li>
							<li> Access Technology & Intrusion Detection Devices</li>
							<li> Visitor Management</li>
							<li>	Access Control -(PERSON & VEHICLE)
							<li> Perimeter Security patrolling/ guarding</li>
							<li> ecurity Communication</li>
							<li> Supervising 3rd party security providers </li>
							<li>	Human Behavioral Analysis</li>
						</ol>

						CCTV Operations
						<ol>
							<li> Closed Circuit Television Systems setup </li>
							<li> CCTV - Operations Log Keeping, Monitoring, Communication & H/Over</li>
						</ol>

						Screening Equipment Operations
						<ol>
							<li> X-ray Screening Theory</li>
							<li> X-ray Screening - GUIDED TOUR</li>
							<li>Walk Thro M/ Detector Operations</li>
						</ol>

						Surveillance Operations
						<ol>
							<li> Overview of Surveillance Operations</li>
							<li> Observation Posts & their uses/ capabilities</li>
							<li> Foot and Mobile Observation Tactics </li>
							<li> Evidence Gathering </li>
							<li> Monitoring & Control of Surveillance Ops</li>
						</ol>

							<ol>
								<li> Combining Security with Customer Service </li>
								<li> Special Events Security Planning </li>
							</ol>

						Contingency Planning
						<ol>
							<li> Fire preparedness </li>
							<li> First aid </li>
						</ol>

						Surveys, Audits & Inspections
						<ol>
							<li> Survey Process & Exercise </li>
							<li> Survey Exercise </li>
							<li> Formal Presentation of Survey Results for evaluation</li>
						</ol>

					<h3> Security Investigations </h3>

						The course will enable the learner to undertake investigations of an incident and give evidence in court. SIV-TP covers the investigative processes including;

							<ol><li> Statement writing </li>
							<li> Evidence preservation </li>
							<li> The investigation file </li>
							<li> Interrogation and enquiry techniques </li>
							<li> Kenyan court procedure </li>
							<li> Witness handling </li>
							<li> Introduction to the penal code, criminal procedure code and evidence act & county by laws </li>
							<li> Private Security Agents power to arrest and or search a premises  </li></ol>
					<hr>
					<h3><strong>CONTACT PERSON:</strong></h3>

						Lt Col (Rtd) Daniel N Marete <br>
						Mobile: +254 712 990857 <br>
						Email:	 dmareten@yahoo.co.uk or marete@dimacsinternational.com

				</div>
			</div>
	</div>
</section>


		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
						<section>
							<h3>We're located</h3>
							<p>Kahawa Sukari Estate, Garrisa Road, 3rd  South Avenue. Nairobi.</p>
							<p> Office	: +254 759 838 925 </p>
						</section>
						<section>
							<h4>Shortcut links</h4>
							<ul class="alt">
								<li><a href="#">link 1 to direct pages/section.</a></li>
								<li><a href="#">link 2 to direct pages/section.</a></li>
								<li><a href="#">link 3 to direct pages/section.</a></li>
								<li><a href="#">link 4 to direct pages/section.</a></li>
							</ul>
						</section>
						<section>
							<h4>Find us on Social media</h4>
							<ul class="plain">
								<li><a href="#"><i class="icon fa-twitter">&nbsp;</i>Twitter</a></li>
								<li><a href="#"><i class="icon fa-facebook">&nbsp;</i>Facebook</a></li>
								<li><a href="#"><i class="icon fa-instagram">&nbsp;</i>Instagram</a></li>
								<li><a href="#"><i class="icon fa-youtube">&nbsp;</i>Youtube</a></li>
							</ul>
						</section>
					</div>
					<div class="copyright">

						&copy; DIMACS International 2021 | Designed by <a href="mu-designs.business.com">MuDesgns</a>
					</div>
				</div>
			</footer>


		<!-- Scripts -->
			<script type="text/JavaScript"> var theDate=new Date() document.write(theDate.getFullYear()) </script>
			<script src="{{url_for('static', filename='assets/js/jquery.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/breakpoints.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/browser.min.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/main.js')}}"></script>
			<script src="{{url_for('static', filename='assets/js/readmore.js')}}"></script>

	</body>
</html>
